{% extends 'base.html' %}

{% load static %}

{% block canonical %}/accounts/dashboard{% endblock %}

{% block description %}Dashboard page{% endblock %}

{% block twitter_title %}Dashboard{% endblock %}
{% block twitter_description %}Dashboard page{% endblock %}
{% block twitter_image %}{% static 'images/dashboard-banner.jpg' %}{% endblock %}

{% block meta_title %}Dashboard{% endblock %}
{% block meta_description %}Dashboard page{% endblock %}
{% block meta_image %}{% static 'images/dashboard-banner.jpg' %}{% endblock %}
{% block meta_url %}/Dashboard{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<main class="main">
    <section>
        <h1>DASHBOARD</h1>
    </section>
</main>

{% endblock %}