{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="margin-top-4 margin-bottom-2 text-align padding-5 dashboard">
        <h1><i class="fa fa-user"></i>{{ user.username }}'s DB</h1>
    </section>
    {% include 'components/messages.html' %}
    <div class="logout-btn">
        <form action="{% url 'logout' %}" method="post" id="logout">
            {% csrf_token %}
            <button class=" opacity-8" type="submit"><i class="fa fa-sign-in margin-right-1"></i>Logout</button>
        </form>
    </div>
    <section class="user-listings-container">
        <section>
            <h2><i class="fa-solid fa-table-list margin-right-1"></i>Your Listings</h2>
        </section>
        {% if user_inquiries %}
            <section class="user-listings">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Vehicle</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_inquiry in user_inquiries %}
                            <tr>
                                <td>{{ user_inquiry.listing.id }}</td>
                                <td>{{ user_inquiry.listing.title }}</td>
                                <td>
                                    <a href="{% url 'listing' user_inquiry.listing.id %}" target="_blank" class="user-listings-hoverline">Click</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        {% else %}
            <section>
                <h3 class="text-align">None at present. Explore our listings <a href="{% url 'listings' %}" class="user-listings-hoverline">HERE</a></h3>
            </section>
        {% endif %}
    </section>

{% endblock %}