{% extends 'base.html' %}

{% load static %}

{% block content %}

<main class="main">
    <section class="loginreg-form text-align">
        <section>
            <h1><i class="fa fa-user"></i>LOGIN</h1>
        </section>
        {% include 'components/messages.html' %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group-column">
                <label for="username">Username</label>
                <input type="text" name="username" id="username"value="{{ username }}">
            </div>
            <div class="form-group-column">
                <label for="password">Password</label>
                <input type="password" name="password" id="password"value="{{ password }}">
            </div>
            <div class="form-btn margin-top-1">
                <button type="submit" class="green opacity-8">SUBMIT</button>
            </div>
        </form>
    </section>
</main>

{% endblock %}