{% extends 'base.html' %}
{% load static %}

{% block canonical %}{% endblock %}

{% block description %}About page{% endblock %}

{% block twitter_title %}About{% endblock %}
{% block twitter_description %}About page{% endblock %}
{% block twitter_image %}{% endblock %}

{% block meta_title %}About{% endblock %}
{% block meta_description %}About page{% endblock %}
{% block meta_image %}{% endblock %}
{% block meta_url %}{% endblock %}

{% block title %}About{% endblock %}

{% block content %}

<section class="banner">
    <section class="bi bil">
        <h1>MEET THE DREAM TEAM</h1>
    </section>
    <div class="banner-img"><img src="{% static 'images/about-banner.jpg' %}" alt="sales team"></div>
</section>
<section class="employee-container">
    <section class="text-align margin-top-4 margin-bottom-4">
        <h2>A Little About Us</h2>
    </section>
    <section class="employee">
        <section class="employee-info">
            <section class="employee-name">
                <h3>Christina Wolcott</h3>
            </section>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a magna bibendum, tincidunt ex a, convallis nulla. Sed vestibulum lectus purus, a mattis mi mattis eu. Praesent ut volutpat ante. Curabitur eget aliquam dui. Nullam ac convallis diam, et ultricies odio. Integer lobortis sem sed justo molestie lobortis.</p>
                <p>Mauris eleifend neque et porttitor scelerisque. Fusce dui odio, varius et finibus vel, semper et turpis. Integer vel efficitur metus. Pellentesque finibus sem vel nulla porttitor, quis suscipit ante laoreet.</p>
            </div>
        </section>
        <div class="employee-img">
            <img src="{% static 'images/christina-wolcott.jpg' %}" alt="christina wolcott employee photo">
        </div>
    </section>
    <section class="employee">
        <section class="employee-info">
            <section class="employee-name">
                <h3>Jess Brighton</h3>
            </section>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a magna bibendum, tincidunt ex a, convallis nulla. Sed vestibulum lectus purus, a mattis mi mattis eu. Praesent ut volutpat ante. Curabitur eget aliquam dui. Nullam ac convallis diam, et ultricies odio. Integer lobortis sem sed justo molestie lobortis.</p>
                <p>Mauris eleifend neque et porttitor scelerisque. Fusce dui odio, varius et finibus vel, semper et turpis. Integer vel efficitur metus. Pellentesque finibus sem vel nulla porttitor, quis suscipit ante laoreet.</p>
            </div>
        </section>
        <div class="employee-img">
            <img src="{% static 'images/jess-brighton.jpg' %}" alt="jess brighton employee photo">
        </div>
    </section>
    <section class="employee">
        <section class="employee-info">
            <section class="employee-name">
                <h3>Amir Khan</h3>
            </section>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a magna bibendum, tincidunt ex a, convallis nulla. Sed vestibulum lectus purus, a mattis mi mattis eu. Praesent ut volutpat ante. Curabitur eget aliquam dui. Nullam ac convallis diam, et ultricies odio. Integer lobortis sem sed justo molestie lobortis.</p>
                <p>Mauris eleifend neque et porttitor scelerisque. Fusce dui odio, varius et finibus vel, semper et turpis. Integer vel efficitur metus. Pellentesque finibus sem vel nulla porttitor, quis suscipit ante laoreet.</p>
            </div>
        </section>
        <div class="employee-img">
            <img src="{% static 'images/amir-khan.jpg' %}" alt="amir khan employee photo">
        </div>
    </section>
    <section class="eom">
        <section class="text-align margin-top-4 margin-bottom-4">
            <h2>Employee of the Month</h2>
        </section>
        <section class="eom-info">
            <section>
                <h3></h3>
            </section>
            <div>
                <img src="" alt="">
            </div>
        </section>
    </section>
</section>

{% endblock %}