{% extends 'base.html' %}
{% load static %}

{% block canonical %}{% endblock %}

{% block description %}About page{% endblock %}

{% block twitter_title %}About{% endblock %}
{% block twitter_description %}About page{% endblock %}
{% block twitter_image %}{% endblock %}

{% block meta_title %}About{% endblock %}
{% block meta_description %}About page{% endblock %}
{% block meta_image %}{% endblock %}
{% block meta_url %}{% endblock %}

{% block title %}About - Project{% endblock %}

{% block content %}

<h1>ABOUT</h1>

{% endblock %}