{% extends 'base.html' %}
{% load static %}

{% block canonical %}{% endblock %}

{% block description %}About page{% endblock %}

{% block twitter_title %}About{% endblock %}
{% block twitter_description %}About page{% endblock %}
{% block twitter_image %}{% endblock %}

{% block meta_title %}About{% endblock %}
{% block meta_description %}About page{% endblock %}
{% block meta_image %}{% endblock %}
{% block meta_url %}{% endblock %}

{% block title %}About{% endblock %}

{% block content %}

<section class="banner">
    <section class="bia">
        <h1>MEET THE DREAM TEAM</h1>
    </section>
    <div class="banner-img"><img src="{% static 'images/about-banner.jpg' %}" alt="sales team"></div>
</section>

{% endblock %}