{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="banner">
        <div class="banner-img">
            <section class="margin-bottom-2 bih text-align">
                <section>
                    <h1>Find Your<br><span class="fade-in-longer">DREAM </span><span>CAR </span>Here</h1>
                </section>
                <div>
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
            </section>
            <img src="{% static 'images/car-banner.jpg' %}" alt="car interior">
        </div>
        <section class="banner-form">
            <section class="margin-bottom-2">
                <h1>Find Your<br><span class="fade-in-longer">DREAM </span><span>CAR</span></h1>
            </section>
            {% include 'components/search_form.html' %}
        </section>
    </section>
    {% include 'components/listings_cont.html' %}
    <section>
        <section class="text-align margin-top-2 margin-bottom-4 padding-5">
            <h2>Check Out More</h2>
        </section>
        <section class="go-to-container">
            <section class="go-to-block js-scroll slide-left">
                <div class="go-to-img">
                    <img src="{% static 'images/listings-banner.jpg' %}" alt="chevy sports car">
                </div>
                <section>
                    <h3><a class="go-to" href="{% url 'listings' %}">Browse Listings<br><i class="fa-solid fa-arrow-right"></i><span>HERE</span></a><i class="fa-solid fa-arrow-left"></i></h3>
                </section>
            </section>
            <section class="go-to-block js-scroll slide-right">
                <div class="go-to-img">
                    <img src="{% static 'images/about-banner.jpg' %}" alt="sales team">
                </div>
                <section>
                    <h3><a class="go-to" href="{% url 'about' %}">Our Team<br><i class="fa-solid fa-arrow-right"></i><span>HERE</span></a><i class="fa-solid fa-arrow-left"></i></h3>
                </section>
            </section>
        </section>
    </section>

{% endblock %}