{% extends 'base.html' %}

{% load static %}

{% block content %}

<main class="main">
    <section class="banner">
        <div class="banner-img">
            <section class="margin-bottom-2 bih text-align">
                <section>
                    <h1>Find Your<br><span class="fade-in-longer">DREAM </span><span>CAR </span>Here</h1>
                </section>
                <div>
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
            </section>
            <img src="{% static 'images/car-banner.jpg' %}" alt="car interior">
        </div>
        <section class="banner-form">
            <section class="margin-bottom-2">
                <h1>Find Your<br><span class="fade-in-longer">DREAM </span><span>CAR</span></h1>
            </section>
            <form action="{% url 'search' %}" class="margin-bottom-2">
                <div class="form-group-column">
                    <label for="keyword">KEYWORD</label>
                    <input type="text" name="keyword" id="keyword" placeholder="Keyword (Ford, Porsche, Sedan)">
                </div>
                <div class="form-group-column">
                    <label for="make">MAKE</label>
                    <input type="text" name="make" id="make" placeholder="Make">
                </div>
                <div class="form-group-column">
                    <label for="model">MODEL</label>
                    <input type="text" name="model" id="model" placeholder="Model">
                </div>
                <div class="form-group-column">
                    <label for="price_range">PRICE RANGE</label>
                    <select name="price_range" id="price_range">
                        <option value="" disabled selected>Price Range</option>
                        <option value="less-five-g">Less than $5,000</option>
                        <option value="less-ten-g">Less than $10,000</option>
                        <option value="less-fifteen-g">Less than $15,000</option>
                        <option value="less-twenty-g">Less than $20,000</option>
                        <option value="less-twenty-five-g">Less than $25,000</option>
                        <option value="less-thirty-five-g">Less than $35,000</option>
                        <option value="less-fify-g">Less than $50,000</option>
                        <option value="less-seventy-five-g">Less than $75,000</option>
                        <option value="more-seventy-five-g">More than $75,000</option>
                    </select>
                </div>
                <div class="form-group-column">
                    <label for="state">STATE</label>
                    <select name="state" id="state">
                        <option value="" disabled selected>State (All)</option>
                            {% if search_states %}
                                {% for search_state in search_states %}
                                    <option value="{{ search_state.state }}">{{ search_state.state }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="No States Available">No States Available</option>
                            {% endif %}
                    </select>
                </div>
                    <button type="submit" class="green opacity-8">SEARCH</button>
                </div>
            </form>
        </section>
    </section>
    {% include 'components/listings_cont.html' %}
</main>

{% endblock %}