{% extends 'base.html' %}

{% load static %}

{% block canonical %}{% endblock %}

{% block description %}Listings page{% endblock %}

{% block twitter_title %}Listings{% endblock %}
{% block twitter_description %}Listings page{% endblock %}
{% block twitter_image %}{% endblock %}

{% block meta_title %}Listings{% endblock %}
{% block meta_description %}Listings page{% endblock %}
{% block meta_image %}{% endblock %}
{% block meta_url %}{% endblock %}

{% block title %}Listings{% endblock %}

{% block other_js %}<script src="{% static 'js/listings-pag.js' %}" defer></script>{% endblock %}

{% block content %}

<section class="banner">
    <section class="bi bil">
        <h1>BROWSE OUR LISTINGS</h1>
    </section>
    <div class="banner-img"><img src="{% static 'images/listings-banner.jpg' %}" alt="chevy sports car"></div>
</section>
<section class="listings-container">
    <section class="text-align margin-top-4 margin-bottom-4">
        <h2>All Listings</h2>
    </section>
    <section id="listings-total" class="listings-total">
        <section class="listing" aria-live="polite">
            <section class="listing-top">
                <div>
                    <img src="" alt="">
                </div>
                <section>
                    <h3>Porsche Boxster-S 2003</h3>
                </section>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Las Vegas, Nevada 111111</p>
                </div>
            </section>
            <section class="listing-middle">
                <div class="listing-price">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <p>Price: </p>
                    <p>$88,000</p>
                </div>
                <div class="listing-condition">
                    <i class="fa-solid fa-bolt"></i>
                    <p>Condition: </p>
                    <p>Excellent</p>
                </div>
            </section>
            <section class="listing-contact">
                <div class="listing-employee">
                    <i class="fa fa-user"></i>
                    <p>Christina Wolcott</p>
                </div>
                <div class="listing-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>3 Days Ago</p>
                </div>
            </section>
            <div class="listing-button">
                <button class="opacity-8" type="button">MORE INFO</button>
            </div>
        </section>
        <section class="listing" aria-live="polite">
            <section class="listing-top">
                <div>
                    <img src="" alt="">
                </div>
                <section>
                    <h3>Porsche Boxster-S 2003</h3>
                </section>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Las Vegas, Nevada 111111</p>
                </div>
            </section>
            <section class="listing-middle">
                <div class="listing-price">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <p>Price: </p>
                    <p>$88,000</p>
                </div>
                <div class="listing-condition">
                    <i class="fa-solid fa-bolt"></i>
                    <p>Condition: </p>
                    <p>Excellent</p>
                </div>
            </section>
            <section class="listing-contact">
                <div class="listing-employee">
                    <i class="fa fa-user"></i>
                    <p>Christina Wolcott</p>
                </div>
                <div class="listing-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>3 Days Ago</p>
                </div>
            </section>
            <div class="listing-button">
                <button class="opacity-8" type="button">MORE INFO</button>
            </div>
        </section>
        <section class="listing" aria-live="polite">
            <section class="listing-top">
                <div>
                    <img src="" alt="">
                </div>
                <section>
                    <h3>Porsche Boxster-S 2003</h3>
                </section>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Las Vegas, Nevada 111111</p>
                </div>
            </section>
            <section class="listing-middle">
                <div class="listing-price">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <p>Price: </p>
                    <p>$88,000</p>
                </div>
                <div class="listing-condition">
                    <i class="fa-solid fa-bolt"></i>
                    <p>Condition: </p>
                    <p>Excellent</p>
                </div>
            </section>
            <section class="listing-contact">
                <div class="listing-employee">
                    <i class="fa fa-user"></i>
                    <p>Christina Wolcott</p>
                </div>
                <div class="listing-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>3 Days Ago</p>
                </div>
            </section>
            <div class="listing-button">
                <button class="opacity-8" type="button">MORE INFO</button>
            </div>
        </section>
        <section class="listing" aria-live="polite">
            <section class="listing-top">
                <div>
                    <img src="" alt="">
                </div>
                <section>
                    <h3>Porsche Boxster-S 2003</h3>
                </section>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Las Vegas, Nevada 111111</p>
                </div>
            </section>
            <section class="listing-middle">
                <div class="listing-price">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <p>Price: </p>
                    <p>$88,000</p>
                </div>
                <div class="listing-condition">
                    <i class="fa-solid fa-bolt"></i>
                    <p>Condition: </p>
                    <p>Excellent</p>
                </div>
            </section>
            <section class="listing-contact">
                <div class="listing-employee">
                    <i class="fa fa-user"></i>
                    <p>Christina Wolcott</p>
                </div>
                <div class="listing-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>3 Days Ago</p>
                </div>
            </section>
            <div class="listing-button">
                <button class="opacity-8" type="button">MORE INFO</button>
            </div>
        </section>
        <section class="listing" aria-live="polite">
            <section class="listing-top">
                <div>
                    <img src="" alt="">
                </div>
                <section>
                    <h3>Porsche Boxster-S 2003</h3>
                </section>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Las Vegas, Nevada 111111</p>
                </div>
            </section>
            <section class="listing-middle">
                <div class="listing-price">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <p>Price: </p>
                    <p>$88,000</p>
                </div>
                <div class="listing-condition">
                    <i class="fa-solid fa-bolt"></i>
                    <p>Condition: </p>
                    <p>Excellent</p>
                </div>
            </section>
            <section class="listing-contact">
                <div class="listing-employee">
                    <i class="fa fa-user"></i>
                    <p>Christina Wolcott</p>
                </div>
                <div class="listing-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>3 Days Ago</p>
                </div>
            </section>
            <div class="listing-button">
                <button class="opacity-8" type="button">MORE INFO</button>
            </div>
        </section>
        <section class="listing" aria-live="polite">
            <section class="listing-top">
                <div>
                    <img src="" alt="">
                </div>
                <section>
                    <h3>Porsche Boxster-S 2003</h3>
                </section>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Las Vegas, Nevada 111111</p>
                </div>
            </section>
            <section class="listing-middle">
                <div class="listing-price">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <p>Price: </p>
                    <p>$88,000</p>
                </div>
                <div class="listing-condition">
                    <i class="fa-solid fa-bolt"></i>
                    <p>Condition: </p>
                    <p>Excellent</p>
                </div>
            </section>
            <section class="listing-contact">
                <div class="listing-employee">
                    <i class="fa fa-user"></i>
                    <p>Christina Wolcott</p>
                </div>
                <div class="listing-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>3 Days Ago</p>
                </div>
            </section>
            <div class="listing-button">
                <button class="opacity-8" type="button">MORE INFO</button>
            </div>
        </section>
        <section class="listing li" aria-live="polite">
            <section class="listing-top">
                <div>
                    <img src="" alt="">
                </div>
                <section>
                    <h3>Porsche Boxster-S 2003</h3>
                </section>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Las Vegas, Nevada 111111</p>
                </div>
            </section>
            <section class="listing-middle">
                <div class="listing-price">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <p>Price: </p>
                    <p>$88,000</p>
                </div>
                <div class="listing-condition">
                    <i class="fa-solid fa-bolt"></i>
                    <p>Condition: </p>
                    <p>Excellent</p>
                </div>
            </section>
            <section class="listing-contact">
                <div class="listing-employee">
                    <i class="fa fa-user"></i>
                    <p>Christina Wolcott</p>
                </div>
                <div class="listing-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>3 Days Ago</p>
                </div>
            </section>
            <div class="listing-button">
                <button class="opacity-8" type="button">MORE INFO</button>
            </div>
        </section>
    </section>
</section>
<nav id="nav-listings" class="nav-listings">
    <button id="prev-btn" class="pag-btn" aria-label="Previous page">&lt;</button>
    <div id="pag-nums" class="pag-nums"></div>
    <button id="next-btn" class="pag-btn" aria-label="Next page">&gt;</button>
</nav>

{% endblock %}