{% extends 'base.html' %}

{% load static %}

{% block canonical %}{% endblock %}

{% block description %}Listing page{% endblock %}

{% block twitter_title %}Listing{% endblock %}
{% block twitter_description %}Listing page{% endblock %}
{% block twitter_image %}{% endblock %}

{% block meta_title %}Listing{% endblock %}
{% block meta_description %}Listing page{% endblock %}
{% block meta_image %}{% endblock %}
{% block meta_url %}{% endblock %}

{% block title %}Listing{% endblock %}

{% block content %}

<h1>Listing_id</h1>

{% endblock %}