{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block canonical %}{{ url }}{{ listing.id }}{% endblock %}

{% block description %}{{ listing.description }}{% endblock %}

{% block twitter_title %}Listing - {{ listing.title }}{% endblock %}
{% block twitter_description %}Listing{% endblock %}
{% block twitter_image %}{{ listing.photo_main.url }}{% endblock %}

{% block meta_title %}Listing - {{ listing.title }}{% endblock %}
{% block meta_description %}{{ listing.description }}{% endblock %}
{% block meta_image %}{{ listing.photo_main.url }}{% endblock %}
{% block meta_url %}{{ url }}{{ listing.id }}{% endblock %}

{% block title %}Listing - {{ listing.title }}{% endblock %}

{% block other_js %}
<script src="{% static 'js/listings.js' %}" defer></script>
<script src="{% static 'js/listing.js' %}" defer></script>
{% endblock %}

{% block content %}

    <div class="back-to-listings margin-top-2">
        <button id="close-btn" type="button" aria-label="Close">&lt; BACK TO LISTINGS</button>
    </div>
    {% include 'components/messages.html' %}
    <section class="margin-top-4 margin-bottom-4">
        <h1 class="text-align" >{{ listing.title }}</h1>
    </section>
    <section class="listing-container">
        <section class="listing" aria-live="polite">
            <section class="listing-top">
                <div class="listing-photo-main">
                    <img src="{{ listing.photo_main.url }}" alt="{{ listing.title }}">
                </div>
                <section class="listing-photos-other-container">
                    <ul>
                        {% if listing.photo_1 %}
                            <li class="listing-photos-other">
                                <img class="opacity-5" src="{{ listing.photo_1.url }}" alt="{{ listing.title }}">
                            </li>
                        {% endif %}
                        {% if listing.photo_2 %}
                            <li class="listing-photos-other">
                                <img class="opacity-5" src="{{ listing.photo_2.url }}" alt="{{ listing.title }}">
                            </li>
                        {% endif %}
                        {% if listing.photo_3 %}
                            <li class="listing-photos-other">
                                <img class="opacity-5" src="{{ listing.photo_3.url }}" alt="{{ listing.title }}">
                            </li>
                        {% endif %}
                        {% if listing.photo_4 %}
                            <li class="listing-photos-other">
                                <img class="opacity-5" src="{{ listing.photo_4.url }}" alt="{{ listing.title }}">
                            </li>
                        {% endif %}
                        {% if listing.photo_5 %}
                            <li class="listing-photos-other">
                                <img class="opacity-5" src="{{ listing.photo_5.url }}" alt="{{ listing.title }}">
                            </li>
                        {% endif %}
                    </ul>
                </section>
                <section id="listing-photos-modal" class="listing-photos-modal">
                    <button id="close-modal" class="close-modal">&times;</button>
                    <ul class="modal-content">
                        {% if listing.photo_1 %}
                            <li class="modal-slide">
                                <img src="{{ listing.photo_1.url }}" alt="{{ listing.title }}">
                            </li>
                        {% endif %}
                        {% if listing.photo_2 %}
                            <li class="modal-slide">
                                <img src="{{ listing.photo_2.url }}" alt="{{ listing.title }}">
                            </li>
                        {% endif %}
                        {% if listing.photo_3 %}
                            <li class="modal-slide">
                                <img src="{{ listing.photo_3.url }}" alt="{{ listing.title }}">
                            </li>
                        {% endif %}
                        {% if listing.photo_4 %}
                            <li class="modal-slide">
                                <img src="{{ listing.photo_4.url }}" alt="{{ listing.title }}">
                            </li>
                        {% endif %}
                        {% if listing.photo_5 %}
                            <li class="modal-slide">
                                <img src="{{ listing.photo_5.url }}" alt="{{ listing.title }}">
                            </li>
                        {% endif %}
                    </ul>
                    <button id="prev-modal" class="prev-modal">&#10094;</button>
                    <button id="next-modal" class="next-modal">&#10095;</button>
                </section>
                <section>
                    <h3>{{ listing.title }}</h3>
                </section>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>{{ listing.address }}<br>{{ listing.city }}, {{ listing.state }} {{ listing.zipcode }}</p>
                </div>
            </section>
            <section class="listing-middle">
                <div class="listing-description">
                    <i class="fa-solid fa-file-lines"></i>
                    <p>{{ listing.description }}</p>
                </div>
                <div class="listing-price">
                    <i class="fa-solid fa-droplet"></i>
                    <p>Color: </p>
                    <p>{{ listing.color }}</p>
                </div>
                <div class="listing-condition">
                    <i class="fa-solid fa-bolt"></i>
                    <p>Condition: </p>
                    <p>{{ listing.condition }}</p>
                </div>
                <div class="listing-price">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <p>Price: </p>
                    <p>${{ listing.price | intcomma }}</p>
                </div>
            </section>
            <section class="listing-contact">
                <div class="listing-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>List Date: </p>
                    <p>{{ listing.list_date | timesince }}</p>
                </div>
            </section>
        </section>
        <section class="make-inquiry">
            <section class="inquiry-contact-header margin-bottom-2">
                <i class="fa-solid fa-address-card"></i>
                <h2>Contact</h2>
            </section>
            <section class="inquiry-contact margin-bottom-2">
                <div class="margin-right-1">
                    <img src="{{ listing.employee.photo.url }}" alt="">
                </div>
                <section>
                    <h3>{{ listing.employee.name }}</h3>
                </section>
            </section>
            <div class="make-inquiry-btn opacity-5">
                <button id="make-inquiry" type="submit">Make an Inquiry</button>
            </div>
            <section id="inquiry-modal" class="inquiry-modal">
                <section class="inquiry-form">
                    <button id="close-inquiry-modal" class="close-modal">&times;</button>
                    <section>
                        <h3 class="text-align"><i class="fa-solid fa-share-from-square margin-right-1"></i>Inquiry</h3>
                    </section>
                    {% if user.is_authenticated %}
                        {% include 'components/messages.html' %}
                        <form action="{% url 'inquiry' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="listing_title" value="{{ listing.title }}">
                            <input type="hidden" name="user" value="{{ user }}">
                            <input type="hidden" name="employee_email" value="{{ listing.employee.email }}">
                            <input type="hidden" name="listing_id" value="{{ listing.id }}">
                            <div class="form-group-column">
                                <label for="listing">Listing</label>
                                <input type="text" name="listing" id="listing" value="{{ listing }}" readonly>
                            </div>
                            <div class="form-group-column">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" value="{{ user.first_name }} {{ user.last_name }}" readonly>
                            </div>
                            <div class="form-group-column">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" value="{{ user.email }}" readonly>
                            </div>
                            <div class="form-group-column">
                                <label for="phone">Phone</label>
                                <input type="text" name="phone" id="phone" value="{{ phone }}">
                            </div>
                            <div class="form-group-column">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" value="{{ message }}"></textarea>
                            </div>
                            <div class="make-inquiry-btn opacity-5">
                                <button type="submit">SEND</button>
                            </div>
                        </form>
                    {% else %}
                        <div class="not-logreg margin-top-2">
                            <div class="sorry-face margin-bottom-2">
                                <i class="fa-solid fa-face-grin-beam-sweat"></i>
                            </div>
                            <div>
                                <p>Please either log in or register an account in order to submit your inquiry.</p>
                                <br>
                                <p>Thank you!</p>
                            </div>
                            <div class="leave-inquiry-links">
                                <a href="{% url 'login' %}" target="_blank"><i class="fa fa-user"></i>LOGIN</a>
                                <a href="{% url 'register' %}" target="_blank"><i class="fa fa-sign-in"></i>REGISTER</a>
                            </div>
                        </div>    
                    {% endif %}
                </section>
            </section>
        </section>
    </section>
    <section class="listings-container">
        <section class="text-align margin-top-4 margin-bottom-4">
            <h2>Similar Listings</h2>
        </section>
        <ul id="listings-total" class="listings-total similar-listings">
            {% if similar_listings %}
                {% for similar_listing in similar_listings %}
                    {% if similar_listing != listing and similar_listing.make == listing.make %}
                        {% include 'components/listings_cont_similar.html' %}
                    {% endif %}
                    {% if similar_listing != listing and similar_listing.body_style == listing.body_style %}
                        {% include 'components/listings_cont_similar.html' %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="text-align margin-bottom-4">
                    <h3>No Similar Listings Available</h3>
                </div>
            {% endif %}
        </ul>
    </section>
    {% include 'components/listings_cont_nav.html' %}

{% endblock %}