{% extends 'base.html' %}

{% load static %}

{% block canonical %}/listings{% endblock %}

{% block description %}Listings page{% endblock %}

{% block twitter_title %}Listings{% endblock %}
{% block twitter_description %}Listings page{% endblock %}
{% block twitter_image %}{% static 'images/listings-banner.jpg' %}{% endblock %}

{% block meta_title %}Listings{% endblock %}
{% block meta_description %}Listings page{% endblock %}
{% block meta_image %}{% static 'images/listings-banner.jpg' %}{% endblock %}
{% block meta_url %}/listings{% endblock %}

{% block title %}Listings{% endblock %}

{% block other_js %}<script src="{% static 'js/listings.js' %}" defer></script>{% endblock %}

{% block content %}

<main class="main">
    <section class="banner">
        <section class="bi bil">
            <h1 class="fade-in-no-scroll">BROWSE OUR LISTINGS</h1>
        </section>
        <div class="banner-img"><img src="{% static 'images/listings-banner.jpg' %}" alt="chevy sports car"></div>
    </section>
    {% include 'components/listings_cont.html' %}
    {% include 'components/listings_cont_nav.html' %}
</main>

{% endblock %}