{% extends 'base.html' %}

{% load static %}

{% block other_js %}<script src="{% static 'js/listings.js' %}" defer></script>{% endblock %}

{% block content %}

    <section class="text-align padding-top-2 margin-bottom-2">
        <h1>Search</h1>
    </section>
    <section class="search-form-container box-shadow">
        {% include 'components/search_form.html' %}
    </section>
    {% include 'components/listings_cont.html' %}
    {% include 'components/listings_cont_nav.html' %}

{% endblock %}