.bi {
    position: absolute;
    left: 0;
    right: 0;
    color: #f3f3f3;
    text-align: center;
}

.employee-container, .mvp-section {
    padding: 0 5%;
}

.employee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.employee:nth-child(even) {
    flex-direction: row-reverse;
}

.employee-info section {
    margin-bottom: 2rem;
}

.employee-info p {
    margin-bottom: 1rem;
}

.employee-contact {
    display: flex;
    flex-direction: column;
}

.employee-contact a, .employee-contact i {
    font-size: 16px;
    line-height: 24px;
}

.employee-contact i {
    margin-right: 1rem;
}

.employee-contact a {
    margin: .5rem 0;
    font-family: 'Open Sans', sans-serif;
}

.employee-info, .employee-img {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    max-width: 600px;
    width: 50%;
    margin: 0 5%;
}

.employee-img img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.mvp-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
}

.mvp {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    max-height: auto;
    margin: 0 5% 4rem 5%;
}

.mvp-img {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.mvp-img img {
    width: 120px;
    border-radius: 50%;
    height: auto;
}

.mvp h3 {
    font-size: 24px;
    line-height: 48px;
}


@media only screen and (max-width: 991px) {
    .employee {
        flex-direction: column-reverse;
    }

    .employee:nth-child(even) {
        flex-direction: column-reverse;
    }

    .employee-info, .employee-img {
        width: 100%;
        margin: 0 auto;
    }

    .employee-img {
        margin-bottom: 2rem;
    }
}