.loginreg-form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: row;
    flex-direction: column;
    padding: 2rem 2% 2rem 2%;
    border-radius: 10px;
}

.loginreg-form h1 {
    font-size: 32px;
    line-height: 64px;
}

.loginreg-form h1 i {
    margin-right: 1rem;
}

@media (width <= 600px) {
    .loginreg-form {
        margin: 2rem 5% 0 5%;
        padding: 2rem 5% 2rem 5%;
    }
}