:root:not(.light) {
    /*BASE*/
    --background-color: #0c0c0d;
    --header-color: #174966;
    --footer-color: #202233;
    --banner-form: #3B3B40;
    --pagNum: #4A4A4F;
    --component1-color: #38383D;
    --component2-color: #4A4A4F;
    --component3-color: #8D8D99;
    --input-color: #f3f3f3;
    --font-color: #f3f3f3;
    --comment: #525259;
    --text-area: #5E5E66;
    --search: #8D8D99;
    --blue: #20658C;
    --green: #1C9984;
    --red:  ;
    --yellow: ;
    --purple: ;
    --border: 4px solid #0c0c0d;
    --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
  
:root.light {
    --background-color: #f7f7f7;
    --header-color: #2779A7;
    --footer-color: #282B40;
    --banner-form: #757580;
    --pagNum: #d7d7db;
    --component1-color: #d7d7db;
    --component2-color: #F0F0F5;
    --component3-color: #d7d7db;
    --input-color: #f3f3f3;
    --font-color: #000;
    --text-area: #F0F0F5;
    --comment: #e7e7e9;
    --search: #BEBEC2;
    --border: 4px solid #333;
    --blue: #38AEF2;
    --green: #20B399;
    --red:  ;
    --yellow: ;
    --purple: ;
    --box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    --secondary-font-color: rgba(226, 232, 240, 1);
}

/*BASE*/

body {
    background-color: var(--background-color);
}

header {
    background-color: var(--header-color);
}

footer, .mobile-nav {
    background-color: var(--footer-color);
    color: #fff;
}

main {
    color: var(--font-color);
}

main a {
    color: var(--font-color) !important;
}


/*LISTINGS*/

.listing {
    background-color: var(--component1-color);
    box-shadow: var(--box-shadow);
}

.listing div button, .banner-form button {
    background-color: var(--green);
}

.pag-num, .pag-btn {
    color: var(--font-color);
}

.pag-btn.disabled {
    color: #757580;
}

.pag-num, .pag-btn {
    background-color: transparent;
}

.pag-num:hover, .pag-btn:not(.disabled):hover {
    background-color: var(--pagNum);
}
  
.pag-num.active {
    background: var(--blue);
}


/*BLOG*/

.article {
    background-color: var(--component1-color);
}

.comment {
    background-color: var(--comment);
    color: var(--font-color);
}

.success {
    color: var(--green);
}

.error {
    color: var(--red);
}


/*SEARCH*/

.search-container button {
    background: var(--search);
}


/*ROOT*/

.theme-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    color: #F2C31F;
    background-color: transparent;
}
  
:root:not(.light) .theme-icon .fa-sun {
    display: none;
}
  
:root.light .theme-icon .fa-sun {
    display: inline-block;
    color: #F2C31F;
}

:root.light .theme-icon .fa-moon {
    display: none;
}
  
:root.dark .theme-icon .fa-moon {
    display: inline-block;
}



@media (width <= 576px) {
    .banner-form {
        background-color: var(--banner-form);
    }
}

@media (width > 576px) {
    .banner-form {
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); 
    }
}