header {
    padding: 0 3%;
    width: 100%;
    position: relative;
}

header a {
    color: #fff;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 48px;
    width: auto;
    margin-right: .5rem;
}

.logo p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    line-height: 64px;
}

header ul {
    display: flex;
    flex-direction: row;
}

header ul li {
    margin: 0 1rem;
    list-style: none;
}

header ul li a {
    font-size: 18px;
    line-height: 32px;
    border-bottom: 4px solid transparent;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}

header ul li a:hover, .active {
    border-bottom: 4px solid #fff;
    transition: .4s ease-in-out;
}

header i {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    margin-right: 4px;
}

.header-contact-links i {
    margin-right: 1rem;
}

.header-contact-links i:hover {
    opacity: .8;
}


/*MOBILE-NAV*/

.nav-overlay, .hamburger-icon {
    display: none;
}

.hamburger-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 56px;
    height: 56px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.hamburger-icon i {
    font-size: 32px;
    line-height: 32px;
}

.nav-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 56px;
    left: 0;
    width: 100%;
    height: 1000px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);  
}

.mobile-nav {
    padding: 2rem 0 0 5%;
    right: 0;
    height: 100%;
    width: 0%;
    z-index: 1200;
    position: fixed;
    transition: all .6s;
    overflow-y: auto;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
}

.mobile-nav ul li a {
    font-size: 24px;
    line-height: 60px;
}


@media (width <= 1024px) {
    .logo p {
        font-size: 32px;
        line-height: 56px;
    }

    .logo img {
        height: 32px;
        width: auto;
    }

    .nav, .user-links, .header-contact-links {
        display: none;
    }

    .color-toggle {
        position: absolute;
        right: 70px;
    }

    .color-toggle i {
        font-size: 27px;
        line-height: 32px;
    }

    .mobile-nav .header-contact-links {
        margin: 2rem 0 0 1rem;
        display: flex;
    }

    .header-contact-links i {
        font-size: 27px;
        line-height: 32px;
        margin-right: 2rem;
    }

    .hamburger-icon, .mobile-nav .user-links {
        display: flex;
        flex-direction: column;
    }
} 



/*FOOTER*/

footer {
    height: 64px;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding: .5rem 3%;
}

.footer-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}

.footer-inner p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    line-height: 48px;
}

