.bil {
    top: 160px;
}

.listings-container {
    margin-bottom: 2rem;
    padding: 0 5%;
}

.listings-total {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.listing {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 480px;
    margin: 0 2% 4rem 2%;
    border-radius: 10px;
    padding: 1rem 2%;
}

.listing-top section {
    margin-bottom: 1rem;
}

.listing h3 {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.listing div {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.listing div p {
    line-height: 24px;
}

.listing div p:first-of-type, .listing div i:first-of-type {
    margin-right: .5rem;
}

.listing div i {
    font-size: 16px;
    line-height: 24px;
    width: 16px;
}

.listing div button {
    border-radius: 5px;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: 100%;
}

.nav-listings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
}

.pag-num, .pag-btn {
    font-size: 16px;
    line-height: 24px;
    margin: 0 1rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    font-weight: 500;
    border-radius: 5px;
}

.hidden {
    display: none;
}


@media (width <= 576px) {
    .bil {
        top: 176px;
    }

    .listing {
        padding: 1rem 5%;
    }
}