<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- CSS + Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color-switch.css' %}">
    <link rel="stylesheet" href="{% static 'css/margin.css' %}">
    <link rel="stylesheet" href="{% static 'css/header-nav-footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/listings.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <!-- Favicon -->
     <link rel="shortcut icon" href="{% static 'images/car-logo.svg' %}" type="svg">
    <!-- Canonical URL -->
    <link rel="canonical" href="https://carterra.com{% block canonical %}{% endblock %}">
    <!-- Metadata -->
    <meta name="description" content="{% block description %}Homepage{% endblock %}">
    <meta name="format-detection" content="telephone=no">
    <!-- Twitter Metadata -->
    <meta name="twitter:title" content="{% block twitter_title %}Home{% endblock twitter_title %}">
    <meta name="twitter:description" content="{% block twitter_description %}Home{% endblock %}">
    <meta name="twitter:image" content="{% block twitter_image %}{% static 'images/car-banner.jpg' %}{% endblock %}">
    <meta name="twitter:card" content="summary_large_image">
    <!-- Other Social Media Metadata -->
    <meta property="og:title" content="{% block meta_title %}Home{% endblock %}">
    <meta property="og:description" content="{% block meta_description %}Homepage{% endblock %}">
    <meta property="og:image" content="{% block meta_image %}{% static 'images/car-banner.jpg' %}{% endblock %}">
    <meta property="og:url" content="https://carterra.com{% block meta_url %}{% endblock %}">
    <meta property="og:site_name" content="Car-terra">
    <!-- Metadata Other -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>{% block title %}Home{% endblock title %} - Car-terra</title>
    <!--Scripts -->
    <script src="{% static 'js/animate.js' %}" defer></script>
    <script src="{% static 'js/color-switch.js' %}" defer></script>
    <script src="{% static 'js/nav-toggle.js' %}" defer></script>
    {% block other_js %}{% endblock %}
</head>
<body>
    {% include 'components/header.html' %}
    {% block content %}
    {% endblock %}
    {% include 'components/footer.html' %}
</body>
</html>