<div class="user-links" id="user-links">
    <ul>
        <li>
            <i class="fa fa-user"></i>
            <a class="anchor" href="/login">LOGIN</a>
        </li>
        <li>
            <i class="fa fa-sign-in"></i>
            <a class="anchor" href="/register">REGISTER</a>
        </li>
    </ul>
</div>
<div class="header-contact-links">
    <a href=""><i class="fa-solid fa-phone"></i></a>
    <a href=""><i class="fa-solid fa-envelope"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
</div>