<div class="user-links" id="user-links">
    <ul>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'dashboard' %}">DASHBOARD</a>
            </li>
        {% else %}
            <li>
                <i class="fa fa-user"></i>
                <a href="{% url 'login' %}">LOGIN</a>
            </li>
            <li>
                <i class="fa fa-sign-in"></i>
                <a href="{% url 'register' %}">REGISTER</a>
            </li>
        {% endif %}
    </ul>
</div>
<div class="header-contact-links">
    <a href=""><i class="fa-solid fa-phone"></i></a>
    <a href=""><i class="fa-solid fa-envelope"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
</div>