<form action="{% url 'search' %}" class="margin-bottom-2">
    <div class="form-group-column">
        <div>
            <label for="keyword">KEYWORD</label>
            <input type="text" name="keyword" id="keyword" placeholder="Keyword (Ford, Sedan, Red)" value="{{ values.keyword }}">
        </div>
    </div>
    <div class="form-group-column">
        <div class="search-split">
            <label for="make">MAKE</label>
            <input type="text" name="make" id="make" placeholder="Make" value="{{ values.make }}">
        </div>
        <div>
            <label for="model">MODEL</label>
            <input type="text" name="model" id="model" placeholder="Model" value="{{ values.model }}">
        </div>
    </div>
    <div class="form-group-column">
        <div class="search-split">
            <label for="price">PRICE RANGE</label>
            <select name="price" id="price">
                <option disabled selected>Max Price</option>
                {% for key, value in price_options.items %}
                    <option value="{{ key }}"
                        {% if key == values.price %}
                            selected
                        {% endif %}>
                        {{ value }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="state">STATE</label>
            <select name="state" id="state">
                <option disabled selected>State (All)</option>
                {% for key, value in state_options.items %}
                    <option value="{{ key }}"
                        {% if key == values.state %}
                            selected
                        {% endif %}>
                        {{ value }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
        <button type="submit" class="green opacity-8">SEARCH</button>
    </div>
</form>